if photos
  div.Photos
    each item in photos
      div.PhotoThumb(
        data-id=item.id
        data-color=item.color
        data-ratio=item.width/item.height
      )
        img(src=item.urls.thumb)
else 
  p Loading failed
