body
  margin: 0
  padding: 0
  font-family: sans-serif;
.Loading
  height: 100%
  width: 100%
  display: flex
  align-items: center;
  justify-content: center;
.App
  display: flex;
  height: 100vh
  &__Sidebar
    background: #eee
    min-width: 320px
    height: 100%
    flex-basis: 0
    flex-grow: 1
  &__Content
    flex-grow: 3
.List
  padding: 20px
  &Item
    margin-bottom: 10px
    cursor: pointer
.Photos
  width: 100%
  height: 100%
  overflow: scroll
  display: flex
  flex-wrap: wrap
  justify-content: center
  div
    margin: 8px
    height: 250px
    border: 4px solid white
    overflow: hidden
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    img
      object-fit: cover
      height: 250px
      width: 250px
